@charset "UTF-8";
/* CSS Document */

body{
	background-color: black;
	font-family:ARCADECLASSIC;
	}
h1{
	font-size: 20px;
	color: white;
	font-family: ARCADECLASSIC;
	text-align: center;
	}
#canvas {
    padding: 0;
    margin: auto;
    display: block;
	border: 3px solid #A6A6A6;
	background-color: white;
}

#infoBar {
	padding: 0;
	margin: auto;
	display: block;
	width : 400px;
	height : 50px;
	border: 3px solid #A6A6A6;
	border-bottom: 0px;
	background-color: white;
}